* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background-color: #79cb1b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    padding: 550px;
}

.contenedor {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 1200px;
}

.formulario {
    margin-bottom: 15px;
}

label {
    font-family: sans-serif;
    margin-bottom: 5px;
    color: black;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #082d57;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
}

button:hover {
    background-color: #215989;
}